{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h2 class='display-6 my-4 text-center'>{{user.username}} profile section</h2>
<ul>
  <a href="{% url "edit_profile" %}" class='btn btn-outline-light'>Edit Profile</a>
  <a href="{% url "change_password" %}" class='btn btn-outline-dark'>Change password</a>
</ul>

<hr>
<div class="container-fluid my-4">
  <h5 class="text-dark my-3">Your order history</h5>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Order id</th>
        <th scope="col">Car's name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Date</th>
        <th scope="col">Total amount</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td>{{order.pk}}</td>
        <td>{{order.car}}</td>
        <td>${{order.car.price}}</td>
        <td>{{order.quantity}}</td>
        <td>{{order.order_date}}</td>
        <td>${{order.total}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>

{% endblock content %}