{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fuild">
  <div class="card car-card">
    <img src="{{car.img.url}}" class="card-img-top" alt="Car Image" />
    <div class="card-body">
      <h5 class="card-title">Model- {{car.car_model}}</h5>
      <p class="card-text">{{car.describtion}}</p>
      <p class="card-text"><strong>Brand: </strong>{{car.brand.brand_name}}</p>
      <p class="card-text"><strong>Price: ${{car.price}}</strong></p>
      <div class="d-flex justify-content-between">
        <div class="btn btn-dark disabled">
          {% if car.quantity > 0 %}In Stock {% else %} Out Of Stock{% endif %}
        </div>
        {% if car.quantity != 0 and user.is_authenticated %}
        <a href="#" class="btn btn-primary">Buy Now</a>
        {% else %}
        <a href="#" class="btn btn-info disabled">Buy Now</a>
        {% endif %}
      </div>
    </div>
  </div>

  <hr>

  <div class="card m-2">
    <h5 class="p-3">Total Comments : {{comments | length}}</h5>
    {% for comment in comments %}
  <div class="card-body border m-2">
        <p><b>{{comment.name}}</b> {{comment.date}}</p>
        <p>{{comment.comment_box}}</p>
    </div>
    {% endfor %}
</div>
<div class="card m-2">
    <div class="card-body">
        <form method="post">
            <h1>Add Comment</h1>
            {% csrf_token %}
            {{comment_form | crispy}}

            <button class="btn btn-warning">Submit</button>
    </div>
</div>

</div>
{% endblock content %}
