{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Hero section start -->
<section class="bg-primary">
    <div class="container-fluid overflow-hidden">
      <div class="row">
        <div class="col-12 col-md-6 order-1 order-md-0 align-self-md-end">
          <div class="row py-3 py-sm-5 py-xl-9 mt-md-10 justify-content-sm-center">
            <div class="col-12 col-sm-10">
              <h2 class="display-2 fw-bolder mb-4 text-white">We Offer Modern Web Solutions</h2>
              <div class="row">
                <div class="col-12 col-xxl-8">
                  <p class="fs-5 mb-5 text-white">We work in a customized way by devising and handling entirely online projects with long-term partnerships.</p>
                </div>
              </div>
              <div class="d-grid gap-2 d-sm-flex">
                <button type="button" class="btn btn-warning bsb-btn-2xl rounded-pill">Explore Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 p-0">
          <img class="img-fluid w-100 h-100 object-fit-cover" loading="lazy" src="{%static 'img/hero-img-1.png' %}" alt="We Offer Modern Web Solutions">
        </div>
      </div>
    </div>
  </section>
  
<!-- Hero section end -->

  <!-- filter section start -->
  <div class="container-fluid py-3">
    <ul class="nav nav-pills">
      {% for brand in brands %}
        <li class="nav-item">
          <a class="nav-link active ms-2 my-2" aria-current="page" href="{% url "brand" brand.slug %}">{{brand.brand_name}}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <!-- filter section end -->

  <!-- car section start -->

  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-lg-4 g-2">
      {% for car in cars %}
        <div class="col"> <!-- Added mb-4 for spacing between cards -->
          <div class="card car-card">
            <img src="{{car.img.url}}" class="card-img-top" alt="Car Image">
            <div class="badge bg-success badge-stock">
              {% if car.quantity > 0 %}In Stock {% else %} Out Of Stock{% endif %}
            </div>
            <div class="card-body">
              <h5 class="card-title">Model- {{car.car_model}}</h5>
              <p class="card-text"><strong>Brand: </strong>{{car.brand.brand_name}}</p>
              <p class="card-text">{{car.describtion | truncatechars:80}}</p>
              <p class="card-text"><strong>Price: ${{car.price}}</strong></p>
              <div class="d-flex justify-content-between">
                {% if car.quantity != 0 and user.is_authenticated %}
                <a href="{% url "order" car.pk %}" class="btn btn-primary">Buy Now</a>
              {% else %}
                <a href="#" class="btn btn-info disabled">Buy Now</a>
                {% endif %}
                <a href="{% url 'car_details' car.slug car.pk %}" class="btn btn-danger">Details</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>  

  <!-- car section end -->
{% endblock content %}

